node_modules
.next
.git
.vercel
.opencode
.husky
.github
.storybook
docs
audit
audit-shots
reports
.lighthouseci
coverage
.nx

e2e
tests
playwright-report
test-results
visual-report
playwright.config.ts
playwright.prod.config.ts

.env*
*.log
tsconfig.tsbuildinfo

.clinerules
.cursorrules
.windsurfrules
.gitleaks.toml
.gitleaksignore
.semgrep.yml
lighthouserc.json
squirrel.toml
.vercelignore